body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	margin: 0;
}

a {
	font-size: 0.5em;
}


[class^='grid-'] {
 	float: left;
}


.button-nav {
  display: inline-block;
  padding: 0 2rem;
  color: rgb(60,46,61);
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

a.select{
	color: rgb(139,203,200);
}


.button-nav:hover, .button-nav:focus {
    color: rgb(139,203,200);
}



.main-nav a{
	text-decoration: none;
}

.icon{
	width: 50px;
	height: 40px;
}

.logo{
	max-width: 100px;
	height: auto;
}

* {
    box-sizing: border-box;
}


.grid-row{
	width: 100%;
	height: auto;
	display: block;
}

.main-nav-section{
	position: relative;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	max-height: 100px;

}

/* Styling for the submit button */
.button-submit {
  display: inline-block;
  border: none;
  padding: 0.25em 0.35em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-nav:focus {
  background-color: rgb(139,203,200);
  color: rgb(60,46,61);
}

.input-text[type=text] {
    width: 10em;
    padding: 0.5em 0.75em;
    margin: 0.2em;
    box-sizing: border-box;
    border: 0.15em solid #cccccc;
    color: #555
}

.search-bar{
	padding: 0.1em;
	position: absolute;
	right: 0;
	margin-right: 0.5em;
}

.body-content-section{
	margin: 0.2em;
	padding: 0.5em;
}

#chairImg {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#leftIcon {
	position: absolute;
	left: 0;
	width: 51px;
	height: 51px;
}
#rightIcon {
	position: absolute;
	right: 0;
	width: 51px;
	height: 51px;
}

.grid-row::after {
 	content: "";
  	display: block;
  	clear: both;
}


[class^='grid-col-'] {
 	float: left;
}


/*when the window is greater than 800 px*/
@media(min-width: 816px){
	.main-nav{

	}
	.main-nav-logo{
		float: left;
		margin-top: 0.5em;
		margin-left: 0.5em;
	}
	.main-nav-icon{
		float: right;
		margin-right: 0.5em;
	}
	.main-nav-direction{
		float: right;
	}
	.main-nav-direction li{
	  	float: left;
	  	list-style-type: none;
	}
	.side-nav-icon{
		display: none;
	}
}

/*when the window is greater than 800 px*/
@media(max-width: 815px){

	.main-nav{

	}
	.main-nav-logo{
		
        position: absolute;
        left: 50%;
        margin-left: -50px;
        margin-top: 0.5em;
	}
	.main-nav-icon{
		float: right;
	}
	.main-nav-direction{
		display: none;
	}
	.main-nav-direction li{
	  	list-style-type: none;
	}
	.side-nav-icon{
		float: left;
	}
}